body {
  font-family: "Poppins";
  background-color: #1a202b;
}

button:focus {
  outline: 0;
}

textarea:focus,
input:focus {
  outline: 0;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #384358;
  border-radius: 4px;
  margin: 0 0 0 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #97a7c5;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #c7daff;
  border-radius: 6px;
}

.codebox {
  font-family: "PT Mono";
}
