<html>
    <head>
        <title>
            Welcome People!
        </title>
        <script src="{{url_for('static', filename='main.js')}}"></script>
    </head>
    <body>
        <h2 align="center">Hello random user!</h2>
        <h3 align="center">We encrypt texts from you.</h3>
        <hr>
        <br>
        <br>
        <h3 align="center">Choose from the following:</h3>
        <div align="center">
        <button onclick="en()">Encryption</button>
        <button onclick="de()">Decryption</button>
        </div>
    </body>
</html>